<!doctype html>
<html>
<head>
    <title>Application Response</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

</head>
<body>
    <h1>Thank you for your application submission, {{ applicant }}!</h1>
        
        <p>An HR representative will follow up with you once your application has been reviewed.</p> 

        <p>Sincerely,</p>
        <p><i>The Prime Assistant To The Assistant's Assistant of HR's Department of Talent Acquisition and Eventual Development</i></p>
</body>
</html>
